<h1>Steps:</h1>

- Upload csv
- Pivot table sum of the column by region and people vaccinated
- Add colum with population
- Calculate % vaccines over county population
- Eliminate columns we don't need
- Download the csv to create a map

In [7]:
import pandas as pd

In [8]:
# Upload the csv
'''The file is a csv and has some encoding problems. The last part of the code solves it.
Before, another solution was to upload it to Google Drive and downloaded again as a csv. 
It's separated by ; and it should be specified''' 

df = pd.read_csv('03_04_vacunes_diari.csv', sep=";", encoding = "ISO-8859-1", engine='python')
df.head(10)

,NOM,CODI,DATA,SEXE,GRUP_EDAT,CASOS_CONFIRMAT,PCR,TAR,INGRESSOS_TOTAL,INGRESSOS_CRITIC,...,INGRESSATS_CRITIC,EXITUS,CASOS_PCR,CASOS_TAR,POSITIVITAT_PCR_NUM,POSITIVITAT_TAR_NUM,POSITIVITAT_PCR_DEN,POSITIVITAT_TAR_DEN,VACUNATS_DOSI_1,VACUNATS_DOSI_2
0,ALT CAMP,1,03/04/2021,Dona,Entre 15 i 64,1,2,14,0,0,...,0,0,0,1,0,1,2,14,52,0
1,ALT CAMP,1,03/04/2021,Dona,Entre 65 i 74,0,0,1,0,0,...,0,0,0,0,0,0,0,1,15,0
2,ALT CAMP,1,03/04/2021,Dona,Majors de 74,1,0,1,0,0,...,0,0,1,0,0,0,0,1,0,1
3,ALT CAMP,1,03/04/2021,Dona,Menors de 15,2,0,4,0,0,...,0,0,0,2,0,2,0,4,0,0
4,ALT CAMP,1,03/04/2021,Home,Entre 15 i 64,0,1,6,0,0,...,0,0,0,0,0,0,1,6,58,0
5,ALT CAMP,1,03/04/2021,Home,Entre 65 i 74,0,0,1,0,0,...,1,0,0,0,0,0,0,1,16,0
6,ALT CAMP,1,03/04/2021,Home,Majors de 74,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
7,ALT CAMP,1,03/04/2021,Home,Menors de 15,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,ALT CAMP,1,02/04/2021,Dona,Entre 15 i 64,1,0,4,0,0,...,0,0,0,1,0,1,0,4,0,0
9,ALT CAMP,1,02/04/2021,Dona,Entre 65 i 74,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0

In [9]:
'''Delete the columns we don't need. In Pandas, rows (horizontal)
in a dataframe have axis=0, columns (vertical) have the first axis (axis=1).'''

df = df.drop(['DATA', 'SEXE', 'GRUP_EDAT', 'PCR', 'TAR', 
              'INGRESSOS_TOTAL','INGRESSOS_CRITIC', 'INGRESSATS_TOTAL'], 1) 
df.head(20)

,NOM,CODI,CASOS_CONFIRMAT,INGRESSATS_CRITIC,EXITUS,CASOS_PCR,CASOS_TAR,POSITIVITAT_PCR_NUM,POSITIVITAT_TAR_NUM,POSITIVITAT_PCR_DEN,POSITIVITAT_TAR_DEN,VACUNATS_DOSI_1,VACUNATS_DOSI_2
0,ALT CAMP,1,1,0,0,0,1,0,1,2,14,52,0
1,ALT CAMP,1,0,0,0,0,0,0,0,0,1,15,0
2,ALT CAMP,1,1,0,0,1,0,0,0,0,1,0,1
3,ALT CAMP,1,2,0,0,0,2,0,2,0,4,0,0
4,ALT CAMP,1,0,0,0,0,0,0,0,1,6,58,0
5,ALT CAMP,1,0,1,0,0,0,0,0,0,1,16,0
6,ALT CAMP,1,0,1,0,0,0,0,0,0,0,0,0
7,ALT CAMP,1,0,0,0,0,0,0,0,0,0,0,0
8,ALT CAMP,1,1,0,0,0,1,0,1,0,4,0,0
9,ALT CAMP,1,0,0,0,0,0,0,0,0,1,0,0
10,ALT CAMP,1,0,0,1,0,0,0,0,0,0,0,0
11,ALT CAMP,1,0,0,0,0,0,0,0,0,2,0,0
12,ALT CAMP,1,0,0,0,0,0,0,0,0,2,0,0
13,ALT CAMP,1,0,1,0,0,0,0,0,0,0,0,0
14,ALT CAMP,1,0,1,0,0,0,0,0,1,1,0,0
15,ALT CAMP,1,0,0,0,0,0,0,0,0,0,0,0
16,ALT CAMP,1,2,0,0,0,2,0,3,5,14,57,4
17,ALT CAMP,1,0,0,0,0,0,0,0,0,0,13,1
18,ALT CAMP,1,0,0,0,0,0,0,0,0,2,139,1
19,ALT CAMP,1,0,0,0,0,0,0,0,0,1,0,0

In [10]:
# We only need the columns Nom, vacunats i codi
df = df.drop(['CASOS_CONFIRMAT', 'INGRESSATS_CRITIC', 'EXITUS', 'CASOS_PCR', 'CASOS_TAR', 
              'POSITIVITAT_PCR_NUM','POSITIVITAT_TAR_NUM', 'POSITIVITAT_PCR_DEN', 'POSITIVITAT_TAR_DEN', 'CODI'], 1) 
df.head(20)

         NOM  VACUNATS_DOSI_1  VACUNATS_DOSI_2
0   ALT CAMP               52                0
1   ALT CAMP               15                0
2   ALT CAMP                0                1
3   ALT CAMP                0                0
4   ALT CAMP               58                0
5   ALT CAMP               16                0
6   ALT CAMP                0                0
7   ALT CAMP                0                0
8   ALT CAMP                0                0
9   ALT CAMP                0                0
10  ALT CAMP                0                0
11  ALT CAMP                0                0
12  ALT CAMP                0                0
13  ALT CAMP                0                0
14  ALT CAMP                0                0
15  ALT CAMP                0                0
16  ALT CAMP               57                4
17  ALT CAMP               13                1
18  ALT CAMP              139                1
19  ALT CAMP                0                0

In [11]:
# Create a new df based on a pivot table with the sum of the column 'Vacunats'
comarques = df.groupby('NOM')['VACUNATS_DOSI_1', 'VACUNATS_DOSI_2'].sum()
comarques.head(43)

#Another way to create a pivot table
#comarques = df.pivot_table(values="VACUNATS_DOSI_1", index="NOM", aggfunc='sum')
#comarques.head(17)

/Users/carla/opt/anaconda3/envs/vacunes_comarques/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

                   VACUNATS_DOSI_1  VACUNATS_DOSI_2
NOM
ALT CAMP                      5628             2346
ALT EMPORDA                  15370             6261
ALT PENEDES                  12811             5299
ALT URGELL                    2904             1190
ALTA RIBAGORÃ‡A                 601              257
ANOIA                        15268             6488
BAGES                        25353            10379
BAIX CAMP                    25677            10110
BAIX EBRE                    11682             5742
BAIX EMPORDA                 14593             6145
BAIX LLOBREGAT              107217            46181
BAIX PENEDES                  8968             3369
BARCELONES                  309128           145912
BERGUEDA                      6310             2823
CERDANYA                      2161              823
CONCA DE BARBERA              2716             1210
GARRAF                       17291             7086
GARRIGUES                     3285             1303
GARROTXA                      8635             3165
GIRONES                      26088            11454
MARESME                      60875            27406
MOIANÃˆS                       1981              915
MONTSIA                       9293             4376
NOGUERA                       6068             2680
OSONA                        20470             8315
PALLARS JUSSA                 2638             1310
PALLARS SOBIRA                 853              285
PLA D'URGELL                  5241             2071
PLA DE L'ESTANY               4908             2067
PRIORAT                       1309              558
RIBERA D'EBRE                 3607             1668
RIPOLLES                      3920             1640
SEGARRA                       2950             1298
SEGRIA                       34020            15185
SELVA                        18947             6924
SOLSONES                      1802              732
TARRAGONES                   32660            13281
TERRA ALTA                    1839              830
URGELL                        5625             2446
VALL D'ARAN                   1308              578
VALLES OCCIDENTAL           113846            48222
VALLES ORIENTAL              52553            21722

In [12]:
#Import the second csv with the population data
df2 = pd.read_csv('poblacio.csv', sep=";")
df2.head(10)

,Territori,PoblaciÃ³,Risc de rebrot,IncidÃ¨ncia acumulada a 14 dies,Rt,Taxa confirmats per PCR/TA,Casos confirmats per PCR/TA,Taxa PCR/TA,PCR Fetes,TA Fets,% PCR/TA Positives,Vacunats,Ingressats,Defuncions
0,ALT CAMP,44536,732,"502,96","1,47","325,58",145,"3040,24",812,542,"11,48",343,23,2
1,ALT EMPORDA,137811,818,"688,62","1,31","418,69",577,"3723,22",3142,1989,"12,09",560,56,18
2,ALT PENEDES,109037,1138,"724,52","1,62","447,55",488,"5436,69",4824,1104,"9,32",1217,47,8
3,ALT URGELL,19487,789,"646,58","1,2","354,08",69,"3320,16",469,178,"13,33",347,6,0
4,ALTA RIBAGORÃ‡A,3544,245,"225,73","1,07","112,87",4,"2144,47",31,45,"5,56",47,1,0
5,ANOIA,121573,667,"623,49","1,09","321,62",391,"3705,59",3313,1192,"9,41",1350,72,6
6,BAGES,180892,902,"691,02","1,34","405,21",733,"4295,93",6077,1694,"10,54",1516,83,14
7,BAIX CAMP,195255,914,"728,79","1,3","416,38",813,"3781,21",5077,2306,"11,73",2097,92,16
8,BAIX EBRE,78120,1011,617,"1,64","405,79",317,"5203,53",2948,1117,"8,19",938,18,2
9,BAIX EMPORDA,131663,927,"669,13","1,41","369,88",487,"3433,77",3537,984,"11,66",820,39,8

In [13]:
#Delete the columns you don't need
df2 = df2.drop(['Rt', 'TA Fets', 'Taxa confirmats per PCR/TA', 
              'Casos confirmats per PCR/TA','Taxa PCR/TA', 'PCR Fetes', '% PCR/TA Positives'], 1) 
df2.head(10)

,Territori,PoblaciÃ³,Risc de rebrot,IncidÃ¨ncia acumulada a 14 dies,Vacunats,Ingressats,Defuncions
0,ALT CAMP,44536,732,"502,96",343,23,2
1,ALT EMPORDA,137811,818,"688,62",560,56,18
2,ALT PENEDES,109037,1138,"724,52",1217,47,8
3,ALT URGELL,19487,789,"646,58",347,6,0
4,ALTA RIBAGORÃ‡A,3544,245,"225,73",47,1,0
5,ANOIA,121573,667,"623,49",1350,72,6
6,BAGES,180892,902,"691,02",1516,83,14
7,BAIX CAMP,195255,914,"728,79",2097,92,16
8,BAIX EBRE,78120,1011,617,938,18,2
9,BAIX EMPORDA,131663,927,"669,13",820,39,8

In [14]:
#Delete the rest of the columns
df2 = df2.drop(['Risc de rebrot', 'IncidÃ¨ncia acumulada a 14 dies', 'Vacunats', 'Ingressats', 'Defuncions'], 1) 
df2.head(10)

        Territori  PoblaciÃ³
0        ALT CAMP     44536
1     ALT EMPORDA    137811
2     ALT PENEDES    109037
3      ALT URGELL     19487
4  ALTA RIBAGORÃ‡A      3544
5           ANOIA    121573
6           BAGES    180892
7       BAIX CAMP    195255
8       BAIX EBRE     78120
9    BAIX EMPORDA    131663

In [15]:
#Merge the dataset with the vacunats and the datasets with the population
dfmerge = pd.merge(comarques, df2, left_on = 'NOM', right_on='Territori',validate='m:1', how='inner')
dfmerge.head(10)

   VACUNATS_DOSI_1  VACUNATS_DOSI_2       Territori  PoblaciÃ³
0             5628             2346        ALT CAMP     44536
1            15370             6261     ALT EMPORDA    137811
2            12811             5299     ALT PENEDES    109037
3             2904             1190      ALT URGELL     19487
4              601              257  ALTA RIBAGORÃ‡A      3544
5            15268             6488           ANOIA    121573
6            25353            10379           BAGES    180892
7            25677            10110       BAIX CAMP    195255
8            11682             5742       BAIX EBRE     78120
9            14593             6145    BAIX EMPORDA    131663

In [16]:
#Reorganize the columns
dfmerge = dfmerge[['Territori', 'PoblaciÃ³', 'VACUNATS_DOSI_1', 'VACUNATS_DOSI_2']]
dfmerge.head(10)

        Territori  PoblaciÃ³  VACUNATS_DOSI_1  VACUNATS_DOSI_2
0        ALT CAMP     44536             5628             2346
1     ALT EMPORDA    137811            15370             6261
2     ALT PENEDES    109037            12811             5299
3      ALT URGELL     19487             2904             1190
4  ALTA RIBAGORÃ‡A      3544              601              257
5           ANOIA    121573            15268             6488
6           BAGES    180892            25353            10379
7       BAIX CAMP    195255            25677            10110
8       BAIX EBRE     78120            11682             5742
9    BAIX EMPORDA    131663            14593             6145

In [17]:
#Calculate the national average
average = (dfmerge['VACUNATS_DOSI_1'].sum()/dfmerge['PoblaciÃ³'].sum())*100
print(average)

13.051845154018785

In [18]:
#Check if the columns you want to make calculations with are intergers
dfmerge.dtypes

Territori          object
PoblaciÃ³            int64
VACUNATS_DOSI_1     int64
VACUNATS_DOSI_2     int64
dtype: object

In [19]:
#Calculate the percentage of population vaccinated
dfmerge['percentatge_poblaciÃ³_vacunada'] = (dfmerge['VACUNATS_DOSI_1']/dfmerge['PoblaciÃ³']) *100
dfmerge.head(10)

,Territori,PoblaciÃ³,VACUNATS_DOSI_1,VACUNATS_DOSI_2,percentatge_poblaciÃ³_vacunada
0,ALT CAMP,44536,5628,2346,12.636968
1,ALT EMPORDA,137811,15370,6261,11.152956
2,ALT PENEDES,109037,12811,5299,11.749223
3,ALT URGELL,19487,2904,1190,14.902243
4,ALTA RIBAGORÃ‡A,3544,601,257,16.958239
5,ANOIA,121573,15268,6488,12.558710
6,BAGES,180892,25353,10379,14.015545
7,BAIX CAMP,195255,25677,10110,13.150496
8,BAIX EBRE,78120,11682,5742,14.953917
9,BAIX EMPORDA,131663,14593,6145,11.083600

In [22]:
# Reduce the number of decimal places
dfmerge['percentatge_poblaciÃ³_vacunada']=dfmerge['percentatge_poblaciÃ³_vacunada'].apply(lambda x:round(x,2))
dfmerge.head(10)

,Territori,PoblaciÃ³,VACUNATS_DOSI_1,VACUNATS_DOSI_2,percentatge_poblaciÃ³_vacunada
0,ALT CAMP,44536,5628,2346,12.64
1,ALT EMPORDA,137811,15370,6261,11.15
2,ALT PENEDES,109037,12811,5299,11.75
3,ALT URGELL,19487,2904,1190,14.90
4,ALTA RIBAGORÃ‡A,3544,601,257,16.96
5,ANOIA,121573,15268,6488,12.56
6,BAGES,180892,25353,10379,14.02
7,BAIX CAMP,195255,25677,10110,13.15
8,BAIX EBRE,78120,11682,5742,14.95
9,BAIX EMPORDA,131663,14593,6145,11.08

In [23]:
dfmerge.to_csv('vacunes_03_abril.csv', encoding='utf8')